<div ng-controller="QuestionEditCtrl" ng-init="init(<%= @question_id %>)">
	<form method="post" action="/questions/<%= @question_id %>" enctype="multipart/form-data">
		<ng-form>
			<textarea name="question[question]" ng-model="question.question" placeholder="Question text" required></textarea>
			<select name="question[qtype]" ng-model="question.qtype" required>
				<option value="" style="display: none">Select question type</option>
				<option value="mcq">Single correct answer type</option>
				<option value="multi">Multiple correct answer typr</option>
				<option value="numerical">Numerical answer type</option>
			</select>
			<input type="number" name="question[no_of_options]" ng-model="question.no_of_options" placeholder="Total options" ng-model="no_of_options" required></input>
			<span ng-repeat="index in [] | range: question.no_of_options">
				<input type="{{selection_box}}" name="question[answers][]" value="{{index}}" ng-checked="question.answers.indexOf(index + '') > -1"></input>
				<input type="text" name="question[options][]" ng-model="question.options[index]" placeholder="{{'option '+(index+1)}}" required></input>
			</span>
			<input type="number" name="question[weightage]" ng-model="question.weightage" placeholder="Weightage" required></input>
			<input type="file" name="image"></input>
		</ng-form>
		<button type="submit">Submit</button>
	</form>
</div>