<div ng-controller="AnswerSheetShowCtrl" ng-init="init(<%= @answer_sheet.id %>)">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span><strong>Examination Paper</strong></span>
					</div>
					<div style="min-height: 300px" class="panel-body">
						<strong>{{question_category}} : Question {{question_index+1}}</strong><br>
						<pre><code style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 2.5ex">{{question.question}}</code></pre>
						<div class="col-sm-6">
							<div ng-repeat="option in question.options track by $index">
								<input ng-if="question.qtype=='mcq'" type="radio"  name="options" ng-model="answer.radio" value="{{$index}}">
								<input ng-if="question.qtype=='multi'" type="checkbox"  name="options" ng-model="answer.checkboxes[$index]" value="{{$index}}">
									{{option}}
								</input>
								<br><br>
							</div>	
							<input class="form-control" ng-if="question.qtype=='numerical'" type="number"  name="options" ng-model="answer.number" placeholder="Answer"></input>
						</div>
						<div class="col-sm-6">
							<img ng-if="question.image" src="{{'/images/'+question.image}}" style="width: 100%"></img>
						</div>
					</div>
					<div class="panel-footer">
						<div class="pull-left">
							<button class="btn btn-default" ng-if="!reviewMarkers[question_index]" ng-click="markForReview(question_index)">Mark For Review</button>
							<button class="btn btn-default" ng-if="reviewMarkers[question_index]" ng-click="unmarkForReview(question_index)">Unmark For Review</button>
						</div>
						<div style="text-align:right">
							<button class="btn btn-primary" type='button' ng-click="prevQuestion()" ng-disabled="!prevEnabled">Previous</button>
							<button class="btn btn-primary" type='button' ng-click="nextQuestion()" ng-disabled="!nextEnabled">Next</button>
							<button class="btn btn-success" type='button' ng-click="storeAnswer()">Save</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<strong>Timer (mm:ss)</strong>
					</div>
					<div class="panel-body">
						<center>
							<h4>
								<i class="glyphicon glyphicon-time"></i>
								{{timer.mins + ':' + timer.secs}}
							</h4>
						</center>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<strong>Question Navigation</strong>
					</div>
					<div class="panel-body">
						<accordion>
							<accordion-group ng-repeat="(category, question_ids) in answerSheet.questions" heading="{{category}}" is-open="question_category == category">
								<button ng-repeat="qid in question_ids track by $index" style="margin-right: 10px; margin-bottom: 10px;" class="btn btn-default" ng-click="gotoQuestion(category, $index)" ng-class="{'btn':true, 'btn-default': !answerSheet.answers[category][$index].length, 'btn-info': reviewMarkers[$index], 'btn-success': answerSheet.answers[category][$index].length}">
								{{$index+1}}
								</button>
							</accordion-group>
						</accordion>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>