<div ng-controller="AnswerSheetShowCtrl" ng-init="init(<%= @answer_sheet.id %>)">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span>Examination Paper</span>
					</div>
					<div style="min-height: 300px" class="panel-body">
						<strong>Question {{question_index+1}}</strong><br>
						<pre><code>{{question.question}}</code></pre>
						<div class="col-sm-6">
							<div ng-repeat="option in question.options track by $index">
								<input ng-if="question.qtype=='mcq'" type="radio"  name="options" ng-model="answer.radio" value="{{$index}}">
								<input ng-if="question.qtype=='multi'" type="checkbox"  name="options" ng-model="answer.checkboxes[$index]" value="{{$index}}">
									{{option}}
								</input>
								<br><br>
							</div>	
							<input class="form-control" ng-if="question.qtype=='numerical'" type="number"  name="options" ng-model="answer.number" placeholder="Answer"></input>
						</div>
						<div class="col-sm-6">
							<img ng-if="question.image" src="{{'/images/'+question.image}}" style="width: 100%"></img>
						</div>
					</div>
					<div class="panel-footer">
						<center>
							<button class="btn btn-primary" type='button' ng-click="prevQuestion()" ng-disabled="!prevEnabled">Previous</button>
							<button class="btn btn-primary" type='button' ng-click="nextQuestion()" ng-disabled="!nextEnabled">Next</button>
							<button class="btn btn-success" type='button' ng-click="storeAnswer()">Save</button>
						</center>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Timer (mm:ss)
					</div>
					<div class="panel-body">
						<center>
							<h4>
								<i class="glyphicon glyphicon-time"></i>
								{{timer.mins + ':' + timer.secs}}
							</h4>
						</center>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						Question Navigation
					</div>
					<div class="panel-body">
						<button style="margin-right: 10px; margin-bottom: 10px;" class="btn btn-default" ng-repeat="q in answerSheet.questions track by $index" ng-click="gotoQuestion($index)" ng-class="{'btn':true, 'btn-default': !answerSheet.answers[$index].length, 'btn-success': answerSheet.answers[$index].length}">
							{{$index+1}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>