<div ng-controller="DeviseRegistrationsMassNewCtrl">
	<div class="container">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<form action="" method="post">
				<div class="panel panel-default">
					<div class="panel-heading"><strong>Create Users</strong></div>
					<div class="panel-body">
						<input class="form-control" type="file" name="users" fileread="users"></input>
					</div>
					<div class="panel-footer">
						<button class="btn btn-default" type="button" ng-click="uploadSheet()">Upload</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-if="showResults">
		<br><hr>
		<h4>Registered Users</h4>
		<div class="gridStyle" ng-grid="registeredUsersGridOptions"></div>
		<br><hr>
		<h4>Unregistred Users</h4>
		<div class="gridStyle" ng-grid="unregisteredUsersGridOptions"></div>
	</div>
</div>