<div ng-controller="ProgrammingAnswerSheetShowCtrl" ng-init="init(<%= @programming_answer_sheet.id %>)">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Timer(mm:ss)</strong>
					</div>
					<div class="panel-body">
						<center>
							<i class="glyphicon glyphicon-time"></i>
							<h4 style="display: inline">{{timer.mins + ':' + timer.secs}}</h4>
						</center>	
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Programming Tasks</strong>
					</div>
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked">
							<li ng-class="{'active': programmingTask.id == programming_task_id}" ng-repeat="programming_task_id in programmingAnswerSheet.programming_tasks track by $index">
								<a ng-click="changeProgram(programming_task_id)">{{$index+1}}. {{programmingAnswerSheet.task_names[$index]}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Coding Area</strong>
					</div>
					<div class="panel-body">
						<strong>Source Code</strong>
						<div class="container-fluid">
							<ul class="nav nav-tabs">
								<li ng-class="{active: language == 'c++'}">
									<a ng-click="changeLanguage('c++')">C++</a>
								</li>
								<li ng-class="{active: language == 'java'}">
									<a ng-click="changeLanguage('java')">Java</a>
								</li>
							</ul><br>
						</div>
						<div style="border: 1px solid #DDD">
							<textarea ui-codemirror="codeOption" ng-model="programText"></textarea>
						</div><br>
						<div class="alert alert-warning">
							<center>{{message}}</center>
						</div>
						<button type="button" class="btn btn-default" ng-click="saveProgram()">Save</button>
						<button type="button" class="btn btn-default" ng-click="getInput()">Execute</button>
						<button type="button" class="btn btn-default" ng-click="checkProgram()">Submit</button>
						<hr>
						<strong>Task</strong>
						<p>{{programmingTask.task}}</p><br>
						<strong>Sample Input</strong>
						<pre><code>{{programmingTask.sample_input}}</code></pre><br>
						<strong>Sample Output</strong>
						<pre><code>{{programmingTask.sample_output}}</code></pre><br>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Compilation Log</strong>
					</div>
					<div class="panel-body">
						<textarea ui-codemirror="compilationLogOption" ng-model="compilationLog"></textarea>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Standard Input</strong>
					</div>
					<div class="panel-body">
						<textarea ui-codemirror="ioOption" ng-model="stdin"></textarea>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Standard Output</strong>
					</div>
					<div class="panel-body">
						<textarea ui-codemirror="ioOption" ng-model="stdout"></textarea>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Standard Error</strong>
					</div>
					<div class="panel-body">
						<textarea ui-codemirror="ioOption" ng-model="stderr"></textarea>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

<script type="text/ng-template" id="get_cpp_input.html">
	<div class="modal-header">
	    <h3 class="modal-title">Program Input</h3>
	</div>
	<div class="modal-body">
		<label>Standard Input</label>
	    <textarea class="form-control" ng-model="input.stdin"></textarea>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="get_java_input.html">
	<div class="modal-header">
	    <h3 class="modal-title">Program Input</h3>
	</div>
	<div class="modal-body">
		<ng-form>
			<label>Class name</label>
			<input type="text" class="form-control" ng-model="input.class" required></input><br>
			<label>Standard Input</label>
		    <textarea class="form-control" ng-model="input.stdin"></textarea>
		</ng-form>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="submit_java_program.html">
	<div class="modal-header">
	    <h3 class="modal-title">Program Input</h3>
	</div>
	<div class="modal-body">
		<ng-form>
			<label>Class name</label>
			<input type="text" class="form-control" ng-model="input.class" required></input>
		</ng-form>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()">OK</button>
	    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>