<center><h1>Select Programming Tasks</h1></center>
<div ng-controller="ProgrammingExamSelectProgrammingTasksCtrl" ng-init="init(<%= @programming_exam.id %>)">
	<center><h3>{{programming_exam.exam_name}}</h3></center>
	<form action="" method="post" enctype="application/json">
		<div class="gridStyle" ng-grid="gridOptions">
		</div>
		<button type="submit">Submit</submit>
	</form>
</div>