<div ng-controller="ProgrammingExamSelectCollegesCtrl" ng-init="init(<%= @programming_exam.id %>)">
	<div class="page-header text-center">
		<h1>
			Select Colleges<br>
			<small>{{programming_exam.exam_name}}</small>
		</h1>
	</div>	
	<form action="" method="post" enctype="application/json">
		<div class="gridStyle" ng-grid="gridOptions">
		</div>
		<button type="submit">Submit</submit>
	</form>
</div>