<div ng-controller="ProgrammingExamSelectProgrammingTasksCtrl" ng-init="init(<%= @programming_exam.id %>)">
	<form action="" method="post" enctype="application/json">
		<div class="gridStyle" ng-grid="gridOptions">
		</div>
		<button type="submit">Submit</submit>
	</form>
</div>