<div class="page-header text-center">
	<h1>Exams</h1>
</div>
<div ng-controller="ExamIndexCtrl">
	<div class="container-fluid text-center">
		<div class="btn-group">
			<button type="button" ng-class="{btn: true, 'btn-default': true, 'btn-primary': active_view == 'current_exams'}" ng-click="showCurrentExams()">
				Current Exams
				<span class="badge">{{total_current_exams}}</span>
			</button>
			<button type="button" ng-class="{btn: true, 'btn-default': true, 'btn-primary': active_view == 'upcoming_exams'}" ng-click="showUpcomingExams()">
				Upcoming Exams
				<span class="badge">{{total_upcoming_exams}}</span>
			</button>
			<button type="button" ng-class="{'btn': true, 'btn-default': true, 'btn-primary': active_view == 'past_exams'}" ng-click="showPastExams()">
				Past Exams
				<span class="badge">{{total_past_exams}}</span>
			</button>
		</div>
	</div><br>
	<div class="gridStyle" ng-grid="gridOptions">
	</div>
</div>