<div class="col-sm-4"></div>
<div class="col-sm-4" ng-controller="QuestionCategoriesEditCtrl", ng-init="init(<%= @question_category_id %>)">
	<form method="post" action="/question_categories/<%= @question_category_id %>" enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Create Category</strong></div>
			<div class="panel-body">
				<ng-form>
					<label>Category Name</label>
					<input class="form-control" type="text" name="question_category[category_name]" placeholder="Exam name" ng-model="question_category.category_name" required></input><br>
				</ng-form>
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" type="submit">Update</button>
				<button class="btn btn-default" type="reset">Reset</button>
			</div>
	</form>
</div>